.index-link {
    @apply transition ease-in-out delay-150 bg-gray-400 hover:bg-gray-700 duration-500 text-gray-50 rounded text-sm inline-block p-2;
}

.item-row {
    @apply lg:flex lg:flex-row gap-4 p-2;
}

input, select {
    @apply border border-gray-200 focus:border-red-500 focus:ring-0 focus:outline-none rounded p-2;
}

#speaker {
    @apply pt-2 mb-4 rounded;
    background-color: rgba(245, 143, 138, 0.1);
}

#speaker .item-row {
    @apply px-4;
}

#speaker textarea {
    @apply h-40;
}

#form-message {
    @apply min-h-screen fixed top-0 left-0 flex items-center w-full h-full justify-center z-50;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.success-message {
    @apply bg-gray-50 rounded w-11/12 lg:w-1/2 mx-auto my-20 leading-loose;
}
.success-message div {
    @apply p-6;
}